@import "../../../styles/colors.scss";

.CostsList {
  padding: 2rem 1rem 1rem;
  color: $darkgrey;
  width: 25vw;

  &__cost {
    height: 1.5rem;
  }
  &__amount {
    text-align: right;
    &:after {
      content: "$";
    }
  }
}
