@import "../../../styles/colors.scss";

.CostsList {
  padding: 0 2rem 0 0;
  color: $darkgrey;
  width: 25vw;

  &__cost {
    height: 1.5rem;
  }
  &__amount {
    text-align: right;
    &:after {
      content: "$";
    }
  }

  &__header {
    color: $darkgrey;
  }
}
