@import "../../../styles/colors.scss";

.YearlyChart {
  &__day {
    width: 0.5rem;
    height: 0.5rem;
  }

  &__weekday {
    font-size: 0.65rem;
    fill: $grey;
  }

  &__month {
    font-size: 0.65rem;
    fill: $grey;
  }

  &__header {
    color: $darkgrey;
  }

  &__month-container {
    transform: translate(30px, 0);
  }
}
