@import "../../../styles/colors.scss";

.Header {
  background: $blue;
  width: calc(90%);
  height: 4rem;
  line-height: 4rem;
  padding: 0 5%;
  color: white;
  display: flex;

  &__logo {
    font-style: italic;
    letter-spacing: 1.5px;
    width: 10rem;
  }

  &__email {
    margin-left: auto;
    font-size: 0.75rem;
    font-weight: bold;
  }

  &__logout {
    height: 1rem;
    background: blue;
    border: none;
    color: white;
    margin: auto 0 auto 1rem;
    cursor: pointer;
  }
}
