@import "../../../styles/colors.scss";

.Header {
  background: $blue;
  width: calc(100% - 4rem);
  height: 4rem;
  line-height: 4rem;
  padding: 0 2rem;
  color: white;
  display: flex;

  &__logo {
    font-style: italic;
    letter-spacing: 1.5px;
    width: 10rem;
  }

  &__email {
    margin-left: auto;
    font-size: 0.75rem;
    font-weight: bold;
  }
}
